/* resources/css/custom.css */
.swiper {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
    width: 250px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 14px !important; /* 矢印を小さく */
    color: #DDFFA2; /* 落ち着いた色 */
}

.dli-chevron-round-right {
  display: inline-block;
  vertical-align: middle;
  color: #DDFFA2;
  line-height: 1;
  position: relative;
  width: 8px;
  height: 8px;
  transform: translateX(-25%) rotate(45deg);
}

.dli-chevron-round-right::before, .dli-chevron-round-right::after {
  content: '';
  position: absolute;
  background: currentColor;
  border-radius: 0.1em;
}

.dli-chevron-round-right::before {
  top: 0;
  left: 0;
  right: 0;
  height: 0.1em;
}

.dli-chevron-round-right::after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.1em;
}

/* Newsページ */
/* 1週間以内に公開されたニュースだけに「New」を出したい */
.has-new::after{
    content: "New";
    position:absolute;
    top: 0;
    right: 0;
    background-color: #002928;
    color: #FFFFFF;
    font-size: 12px;
    font-weight:600;
    padding:3px 10px;
    border-radius:0 8px 0 0;
}


/* Mrs.REPORTページ */
/* タイトルデザイン */
.report-title {
    -webkit-text-stroke: 0.5px #c7ae41;
    position: relative;
    display: inline-block;
    font-weight: 400; /* font-weight: font-weight; は誤りだから修正 */
    font-style: normal;
    font-size: clamp(20px, 9vw, 40px);

    /* ▼ グラデーション文字を実現する部分 ▼ */
    background: linear-gradient(to bottom, #fffbf3, #fff386, #f0d352);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
