/* resources/css/custom.css */
.swiper {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
    width: 250px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 14px !important; /* 矢印を小さく */
    color: #DDFFA2; /* 落ち着いた色 */
}

.dli-chevron-round-right {
  display: inline-block;
  vertical-align: middle;
  color: #DDFFA2;
  line-height: 1;
  position: relative;
  width: 8px;
  height: 8px;
  transform: translateX(-25%) rotate(45deg);
}

.dli-chevron-round-right::before, .dli-chevron-round-right::after {
  content: '';
  position: absolute;
  background: currentColor;
  border-radius: 0.1em;
}

.dli-chevron-round-right::before {
  top: 0;
  left: 0;
  right: 0;
  height: 0.1em;
}

.dli-chevron-round-right::after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.1em;
}

